/* ******* :: INDEX OF CSS :: *******
:: 1.0 WEB FONTS
:: 2.0 IMPORT ALL CSS
:: 3.0 GLOBAL CSS
:: 4.0 COMMON CSS
:: 5.0 PRELOADER CSS
:: 6.0 SCROLL TO TOP AREA CSS
:: 7.0 HEADER AREA CSS
:: 8.0 WELCOME AREA CSS
****************************** */

/* ******************************
:: 1.0 WEB FONTS
****************************** */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

/* 
font-family: 'Lexend', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
*/

/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
@import url(jquery.fancybox.min.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #1c144e;
    margin-bottom: 0;
}

.inner-wrapper h1,
.inner-wrapper h2,
.inner-wrapper h3 {
    color: #2d3136;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

a {
    color: #444;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: #0056b3;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.text-primary {
    color: #2d3136 !important;
}


.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.mb-20{
    margin-bottom: 20px !important;
}

.mb-35{
    margin-bottom: 35px !important;
}

/*SECTION PADDING*/
.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}

/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    background: transparent;
    padding: 1rem;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #231f20;
    margin-top: -250px;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    padding-bottom: 10px;
    padding-top: 2px !important; 
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
    max-width: 180px;
}

/*NAVBAR DARK*/
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #7e8085;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

.navbar,
.navbar-brand{
    padding-top: 15px;
}

.header-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header-btn button{
    background: #282728;
    color: #fff;
    padding: 20px 50px;
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    transition: all .3s ease;
}

.header-btn button:hover{
    background-color: #fff;
    color: #282728;
}

.navbar>.container, .navbar>.container-fluid{
    justify-content: center;
}

/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */
.welcome-area{
    background-image: url(../img/raja-banner.jpg);
    background-position: center;
    background-size: cover;
    height: 950px;
}

.welcome-form{
    background: #000000c7;
    margin-top: 150px;
    position: relative;
    z-index: 20;
    max-width: 450px;
    float: right;
    padding: 30px 50px;
}

.form-title h4{
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.form-title p{
    color: #eeb96d;
    font-size: 27px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    margin-bottom: 35px;
}

.welcome-form form .form-group{
    margin-bottom: 20px;
}

.welcome-form form .form-group-btn{
    margin: 10px 0 0;
}

.form-group input,
.form-group select{
    background: #fff;
    color: #fff;
    font-weight: 400;
    padding: 0 25px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    height: 65px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    font-size: 18px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.welcome-form .form-group input::-webkit-input-placeholder,
.welcome-form .form-group textarea::-webkit-input-placeholder {
    color: #fff;
}

.welcome-form .form-group input:-ms-input-placeholder,
.welcome-form .form-group textarea:-ms-input-placeholder {
    color: #fff;
}

.welcome-form .form-group input::placeholder,
.welcome-form .form-group textarea::placeholder {
    color: #fff;
}

.welcome-form input:focus,
.welcome-form textarea:focus,
.welcome-form select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ed1c24;
    color: #fff;
    background: transparent;
}

.form-group input[type="submit"]{
    height: 70px;
    padding: 12px 15px;
    background: #ed1c24;
    border: 1px solid #ed1c24;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
}

.form-group input[type="submit"]:hover,
.form-group input[type="submit"]:focus{
    background: #fff;
    color: #ed1c24;
    border: 1px solid #ed1c24 !important; 
}

.inner-banner{
    display: flex;
    position: absolute;
    bottom: 0;
}

.inner-banner p{
    font-size: 60px;
    color: #fff;
    font-weight: 800;
    line-height: 75px;
}



/* ******************************
:: 15.0 FOOTER AREA CSS
****************************** */

footer{
    background-color: #f5efe6;
    padding: 25px 0 0;
}

footer .logo{
    margin-bottom: 30px;
}

.footer-first{
    padding: 80px 0;
    align-items: center;
}

.call-footer{
    float: right;
    margin-bottom: 30px;
}

.call-footer p{
    color: #e86351;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.call-footer a{
    color: #fff;
    font-size: 20px;
    transition: all .3s ease;
}

.call-footer a:hover{
    color: #e86351;
}

.call-footer2{
    float: left;
}

.copyright p{
    color: #212121;
    font-size: 15px;
}

.copyright p a{
    color: #212121;
}

.copyright p a img{
    max-width: 100px;
}

.copyright {
    border-top: 1px solid #e7e2da;
    padding: 30px 0;
}

footer .opening h3{
    color: #ed1c24;
    margin-bottom: 10px;
}

footer .opening p{
    color: #2e2e2e;
    font-size: 20px;
    margin-bottom: 5px;
}

/* ******************************
:: 16.0  POPUP AREA 
****************************** */
.modal-dialog{
    margin-top: 100px;
    max-width: 694px !important;
    z-index: 99999;
}

.order-model .modal-dialog{
    max-width: 894px !important;
}

.modal.fade .modal-dialog{
    top: 48%;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal-content {
    border-radius: 0px;
    overflow: hidden;
    padding-bottom: 50px;
}

.modal-header {
    border-bottom: none;
}

.download-close{
    float: right;
    background: #2e2a29;
    border-radius: 45px;
    border: 1px solid transparent;
    width: 46px;
    height: 46px;
    z-index: 99999;
    position: absolute;
    right: -6px;
    top: -8px;
    padding: 2px 0;
    transition: all .3s ease;
}

.download-close:hover{
    background: #c5a10f;
}

.download-close span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    line-height: 45px;
    padding: 5px 16px;
}

#letter5{
    text-align: center;
}

.letter_inner .heading {
    margin-bottom: 0px;
}

.heading h2 {
    font-size: 35px;
    line-height: 24px;
    color: #193d6f;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
}

.heading h2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(to right, #e86351 0%, transparent 100%);
    z-index: 99;
}

#letter6 .tab-content, #letter5 .tab-content {
    padding: 0 50px;
}

.order-model form{
    display: block;
}

.order-model label {
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    color: #999;
    line-height: 24px;
    position: absolute;
    left: 34px;
    top: -12px;
    background: #fff;
    padding: 0 8px;
    z-index: 99;
}

#letter5 select, #letter5 input {
    margin-bottom: 15px;
    position: relative;
    color: #000;
    resize: none;
    font-weight: 300;
    border: 0.5px solid #ccc;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;    
    height: 70px;
    width: 100%;
    font-size: 18px;
    padding: 0 20px;
    border-radius: 3px;
    z-index: 9;
    box-shadow: none;
    cursor: pointer;
}

#letter5 input[type="submit"]{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #282728;
}

#letter5 input:focus {
    outline: none !important;
    border: 0.5px solid #e86351;
    color: #193d6f;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.order-model .datepicker {
    position: relative;
}

.popup-btn a{
    background: #185cc9;
    color: #fff;
    padding: 18px 72px;
    border-radius: 100px;
    transition: all .3s;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.popup-btn a:hover{
    background-color: #e86351;
    color: #fff;
}

.popup-btn{
    margin-top: 40px;
}

.modal.fade .modal-dialog{
    display: flex;
}

.popup-img-main{
    background-color: #2f9331;
}

.popup-img img{
    width: 280px;
}

.model-project-details .form-group input::-webkit-input-placeholder,
.model-project-details .form-group textarea::-webkit-input-placeholder {
    color: #000;
}

.model-project-details .form-group input:-ms-input-placeholder,
.model-project-details .form-group textarea:-ms-input-placeholder {
    color: #000;
}

.model-project-details .form-group input::placeholder,
.model-project-details .form-group textarea::placeholder {
    color: #000;
}

.model-project-details input:focus,
.model-project-details textarea:focus,
.model-project-details select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e86351;
    color: #fff;
    background: transparent;
}

.popupleft-content,
.modal-mookambika{
    background-color: #e86351;
}

.popupleft-content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    background-image: url(../img/banner-lady.jpg);
    background-size: cover;
}

.popupleft-content p{
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    line-height: 60px;
}

/* .popupleft-content h4{
    color: #fff;
    font-weight: 400;
    font-size: 23px;
    text-transform: uppercase;
}

.popupleft-content h3 {
    font-weight: 500;
    color: #fff;
    font-size: 23px;
    margin: 25px 0;
    text-transform: uppercase;
}

.popupleft-content h3 span{
    font-weight: 800;
    font-size: 30px;
} */

/* #letter5 select, #letter5 input{
    color: #fff;
} */

.popupleft-content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    background-image: url(../img/bg/popup.png);
    background-size: cover;
}

/* ******************************
:: 16.0  Product AREA 
****************************** */
.product-area{
    background-color: #f5efe5;
    padding: 70px 0;
}

.pro-box{
    background: #ffffff;
    padding: 30px 22px;
    min-height: 432px;
}

.pro-box .head{
    margin-bottom: 25px;
    max-width: 225px;
}

.pro-box .head h1{
    color: #004a54;
    font-weight: 500;
    font-size: 28px;
    position: relative;
}

.pro-box .head h1.ring-head{
    position: relative;
}

.pro-box .head h1::before{
    position: absolute;
    content: "";
    background-image: url(../img/bg/pr-right-icon.png);
    height: 11px;
    width: 88px;
    right: 0;
    top: 14px;
}

.pro-box .head h1.ring-head::before{
    position: absolute;
    right: 35px;
}

.pro-box .inner{
    text-align: center;
}

.pro-box .inner .img{
    height: 215px;
}

.pro-box .inner .text p{
    color: #004a54;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.pro-box-last{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

.pro-box-last .inner .img {
    height: inherit
}

.pro-box-last .inner h2{
    font-family: 'Playfair Display', serif;
    color: #004a54;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 6px;
    margin-top: 5px;
}

.pro-box-last .inner h4{
    color: #004a54;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 20px;
}

.btn-pro{
    margin-top: 55px;
    margin-bottom: 40px;
}

.btn-pro a{
    padding: 20px 25px;
    background: #ed1c24;
    border: 1px solid #ed1c24;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 8px;
    font-family: 'Lexend', sans-serif;
    transition: all .3s ease;
}

.btn-pro a:hover{
    background-color: #fff;
    color: #ed1c24;
}

/* ******************************
:: 0.0 Brand AREA CSS
****************************** */
.brand-area{
    position: relative;
    background-color: #f5efe5;
    padding-bottom: 30px;
}

.brand-head{
    margin-bottom: 80px;
}

.brand-head h1{
    position: relative;
    color: #004a54;
    font-size: 40px;
    font-weight: 400;
    max-width: 725px;
    margin: 0 auto;
}

.brand-head h1::before{
    position: absolute;
    content: "";
    background-color: #c39d60;
    height: 1px;
    width: 100px;
    right: 0;
    bottom: 19px;
}

.brand-head h1::after{
    position: absolute;
    content: "";
    background-color: #c39d60;
    height: 1px;
    width: 100px;
    left: 0;
    bottom: 19px;
}

/* ******************************
:: 0.0 About AREA CSS
****************************** */
.about-area{
    background-color: #f5efe5;
    padding: 30px 0 80px;
}

.about-bg{
    background-image: url(../img/bg/about-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 760px;
    width: 100%;
    position: relative;
}

.about-inner h4{
    color: #ed1c24;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}

.about-inner h1{
    color: #f6f2e9;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-inner p{
    color: #f6f2e9;
    font-size: 16px;
    line-height: 26px;
}

.about-inner .btn-about{
    margin-top: 50px;
}

.about-inner .btn-about a{
    padding: 18px 60px;
    background: #ed1c24;
    border: 1px solid #ed1c24;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 8px;
    font-family: 'Lexend', sans-serif;
    transition: all .3s ease;
}

.about-inner .btn-about a:hover{
    background-color: #fff;
    color: #ed1c24;
}

.about-inner{
    padding-top: 100px;
}

/* ******************************
:: 0.0 Video AREA CSS
****************************** */
.video-section{
    position: relative;
    background-image: url(../img/bg/video-bg.jpg);
    width: 100%;
    height: 540px;
    background-position: center;
    background-size: cover;
}

.video-area{
    margin-top: -420px;
}

.video-sec{
    padding-bottom: 50px;
    background-color: #f5efe5;
}

/* ******************************
:: 0.0 Our Stores AREA CSS
****************************** */
.our-stores{
    background-color: #f5efe5;
    padding: 20px 0 50px;
}

.brand-head2 h1::before{
    width: 150px;
    right: 60px;
}

.brand-head2 h1::after{
    width: 150px;
    left: 60px;
}

.store-box{
    border: 1px solid #c6bba8;
    padding: 20px;
    min-height: 160px;
    margin-bottom: 20px;
}

.store-box h3{
    color: #414141;
    font-weight: 400;
    margin-bottom: 10px;
}

.store-box p{
    color: #2e2e2e;
    font-size: 15px;
    margin-bottom: 10px;
}

.store-box a{
    color: #414141;
    font-weight: 600;
    font-size: 16px;
    transition: all .3s ease;
}

.store-box a:hover{
    color: #ed1c24;
    text-decoration: underline;
}

.center-line{
    color: #f6bc5f;
}

.phone-img{
    margin-right: 5px;
}

.btn-call{
    justify-content: space-between;
    max-width: 300px;
    align-items: center;
}

.store-bx2{
    background-image: url(../img/bg/store-bg.png);
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 100%;
    align-items: center;
    padding-left: 150px;
}

.store-bx2 .text{
    max-width: 300px;
    text-align: center;
    margin-right: 15px;
}

.store-bx2 .text h1{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 400; 
    font-size: 28px;
}

.store-bx2 .btn-store a{
    padding: 18px 10px;
    background: #ed1c24;
    border: 1px solid #ed1c24;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 8px;
    font-family: 'Lexend', sans-serif;
    transition: all .3s ease;
}

.store-bx2 .btn-store a:hover{
    color: #ed1c24;
    background-color: #fff;
}

/* ******************************
:: 0.0 Testi AREA CSS
****************************** */
.testi-area{
    background-color: #f5efe5;
    padding: 70px 0 125px;
}

.single-testi{
    background-color: #fff;
    padding: 90px 70px;
    text-align: left;
}

.single-testi .icon{
    margin-bottom: 35px;
}

.single-testi p{
    color: #212121;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;    
}

.single-testi .name h3{
    color: #004a54;
    position: relative;
    font-weight: 500;
}

.single-testi .name h3::before{
    position: absolute;
    content: "";
    background-color: #004a54;
    height: 1px;
    width: 50px;
    bottom: 12px;
    left: 35%;
}

.brand-head3{
    margin-bottom: 50px;
}

.testi-slider .owl-dots{
    position: relative;
    text-align: center;
    top: 40px;
}

.testi-slider .owl-dots button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d4cec0 !important;
    margin-right: 10px;
    border: none !important;
    outline: none;
}

.testi-slider .owl-dots button.active{
    background-color: #c39d60 !important;
}

/* ******************************
:: 0.0 Contact AREA CSS
****************************** */
.contact-area{
    background-image: url(../img/bg/contact-bg.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
}

.ct-inner h1{
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    margin-bottom: 10px;
    font-weight: 400;
}

.ct-inner h3{
    color: #eeb96d;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 35px;
}

.ct-inner .head{
    margin-bottom: 25px;
}

.ct-form{
    background: #000000b3;
    padding: 55px 35px;
}

.ct-inner{
    padding: 85px 0;
}

.ct-form .form-group input{
    color: #fff;
}

.ct-form .form-group input::placeholder,
.ct-form .form-group textarea::placeholder {
    color: #fff;
}

.ct-form .form-group input:focus{
    color: #000;
}

/* ******************************
:: 0.0 Promise AREA CSS
****************************** */
.promise-area{
    background-image: url(../img/bg/promise-bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 70px 0;
}

.promise-box{
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 25px;
    min-height: 188px;
}

.promise-box .icon img{
    /* max-width: 55px; */
    margin-bottom: 15px;
}

.promise-box h3{
    color: #212121;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px
}

.promise-box p{
    color: #212121;
    line-height: 21px;
}

.brand-head4 h1:before{
    width: 150px;
    right: -27px;
}

.brand-head4 h1:after{
    width: 150px;
    left: -27px;
}

.brand-head4 h1{
    color: #f6f2e9;
}

/* Side Buttons */
.vertical_btn {
    position: fixed; 
    bottom: 50%; right: -34px;
    padding: 5px 25px 4px;
    border-radius: 4px;
    background: #7d210c;
    font-size: 19px; 
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color:#fff; z-index: 10; text-transform: uppercase;
    transform: rotate(-90deg);
    letter-spacing: 3px
}

.vertical_btn:hover {
    background: #b32025; color:#fff
}

.header_social p a{
    color: #999;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}



.whatsapp_inte {
    z-index: 100;
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #2ab03f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    right: 0;
    bottom: 0;
    float: right;
    -webkit-box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
    box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
}
.whatsapp_inte:hover {
    background: #00df23;
    color: #fff;
}
.whatsapp_inte i {
    position: relative;
    top: -1px;
    left: 1px;
}



.callnow_inte {
    margin-bottom: 10px;
    z-index: 100;
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #0057d9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    right: 0;
    bottom: 0;
    float: right;
    -webkit-box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
    box-shadow: 0 5px 12px 0 rgba(218, 88, 0, 0.1);
}

.callnow_inte:hover {
    background: #0448af;
    color: #fff;
}


.cont_link_box {
    z-index: 100; 
    position: fixed;
    right: 15px;
    top: 80%;
    transform: translateY(-50%);
    width: 50px; display: inline-block;
   
}

.vertical_btn {
    position: fixed;
    bottom: 50%;
    right: -34px;
    padding: 10px 25px 10px;
    border-radius: 4px;
    background: #ed1c24;
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    z-index: 99;
    text-transform: uppercase;
    transform: rotate(-90deg);
    letter-spacing: 3px;
}

.enq-side a{
    display: none;
}